.header {
  display: flex;
  align-items: center;
  color: white;
  width: calc(100% - 140px);
  height: 50px;
  position: fixed;
  top: 0;
  justify-content: space-between;
  font-size: 14px;
  padding: 10px 70px;
  flex: 1;
  z-index: 999;
  background-color: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, transparent);
}
.header.active {
  background-color: black;
}
.header .left,
.header .right {
  display: flex;
  align-items: center;
}
.header a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
}
.header > a {
  position: relative;
}
.header a:first-child {
  padding: 0;
}
.header a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.footer {
  height: 200px;
  width: 100%;
  background-color: #555;
  color: white;
  /* position: fixed; */
  bottom: 0;
}

/* .icon-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
} */
.right {
  gap: 10px;
}
.search-input {
  position: relative;
  min-width: 40px;
}
.icon-button {
  background: none;
  border: none;
  color: white;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  left: 10px;
  top: 5px;
}
.icon-button svg {
  height: 20px;
  width: 20px;
}
.search-input input {
  width: 0px;
  transition: all 0.5s ease;
  background-color: black;
  border: 0px solid white;
  color: white;
  padding: 0px;
  height: 40px;
}
.search-input input.open {
  border-width: 1px;
  width: 250px;
  padding-left: 40px;
}

.profile-container {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-image: url("../images/avatar.jpeg");
  background-size: contain;
}
.right label svg {
  height: 20px;
  width: 20px;
  columns: white;
}
.right label:hover {
  cursor: pointer;
}
.movie_type,
ul.profile {
  display: none;
  background-color: white;
  position: absolute;
  top: 40px;
  border-radius: 10px;
  color: black;
  z-index: 1002;
  padding: 0px;
}
.profile {
  width: 120px;
  right: -40px;
  top: 20px !important;
}
.movie_type li,
.profile li {
  list-style: none;
  padding: 10px 30px;
}
.movie_type li a {
  text-decoration: none;
  color: black;
}
.movie_type li:first-child,
.profile li:first-child {
  border-radius: 10px 10px 0px 0px;
}
.movie_type li:last-child,
.profile li:last-child {
  border-radius: 0px 0px 10px 10px;
}
.movie_type li:hover,
.profile li:hover {
  background: #eee;
  cursor: pointer;
}
.header a:nth-child(3):hover .movie_type {
  display: block;
}
.profile-container {
  position: relative;
}
.right label.arrow {
  position: relative;
}
.right label.arrow:hover .profile {
  display: block;
}

.search-container {
  display: flex;
  margin-bottom: 20px;
}

.loader-container {
  height: 100vh;
  width: 100vw;
  display: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader-container img {
  margin: auto;
  width: 20vw;
  height: auto;
}
