body {
  padding: 0;
  margin: 0;
  background-color: black;
  font-family: "Roboto Flex", sans-serif;
  font-size: 14px;
}
.home .top-container {
  width: 100%;
  height: 40.25vw;
  background-repeat: no-repeat;
  background-size: cover;
}
.home .top-content {
  /* mask-image: linear-gradient(90deg, transparent, #000); */
  height: 100%;
  width: 50%;
  background: linear-gradient(270deg, transparent, #000);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  color: white;
  padding-left: 70px;
  gap: 30px;
}

.top-content .title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 10px;
}
.top-content .title a {
  color: white;
  text-decoration: unset;
}
.top-content .title a:hover {
  text-decoration: underline;
}
.top-content .captions label {
  border-right: 1px solid white;
  padding-right: 10px;
}
.top-content .captions label:last-child {
  border-right: none;
}

.top-content .desc,
.top-content .genre {
  margin-top: 10px;
  width: 70%;
  overflow: hidden;
}
.top-content .desc label,
.top-content .genre label {
  color: red;
  margin-right: 10px;
}

.slick-prev.slick-arrow,
.slick-next.slick-arrow {
  width: 40px;
  height: 40px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: none;
  position: absolute;
  padding: 0;
  top: -100px;
  left: 70px;
}
.slick-next.slick-arrow {
  left: 120px;
}
.slick-arrow:hover,
.top-content .slider-button button:hover {
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
.slider-outer {
  background-image: url("../images/bg-black.jpeg");
  width: 100vw;
}
.slider {
  background: linear-gradient(black, gray, transparent, transparent, black);
  align-items: center;
  justify-content: center;
  padding: 60px;
  transition: transform 2s ease;
  -webkit-transition: -webkit-transform 2s ease;
  /* overflow-x: hidden; */
}
.slider .img {
  perspective: 300px;
}

.slider .img img {
  width: calc((100vw - 400px) / 5);
  height: auto;
}

.slider .img.active img {
  transition: 0.5s ease all;

  -webkit-transform: rotate3d(0, 1, 0, 0deg); /* Chrome, Safari, Opera */
  transform: rotate3d(0, 1, 0, 0deg);
}
.slider .img.rotateLeft img {
  -webkit-transform: rotate3d(0, 1, 0, 30deg); /* Chrome, Safari, Opera */
  transform: rotate3d(0, 1, 0, 30deg);
  transition: all 0.5s ease-out;
  transition: transform 1s ease;
  -webkit-transition: -webkit-transform 0.5s ease;
}

.slider .img.rotateRight img {
  -webkit-transform: rotate3d(0, 1, 0, -30deg); /* Chrome, Safari, Opera */
  transform: rotate3d(0, 1, 0, -30deg);
  transition: all 1s ease-out;
}
.top-container .outer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.playTrailer {
  background-color: transparent;
  color: white;
  opacity: 60%;
  width: 200px;
  height: 200px;
  border: none;
  margin: auto;
}
.playTrailer:hover {
  cursor: pointer;
}
.movies {
  display: grid;
  padding: 10px 70px;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.movies .inner {
  width: 100%;
}

.movies .title {
  font-size: 26px;
  font-weight: 500;
  color: white;
  position: relative;
}

.movies .title .detail svg {
  color: red;
  transition: all 0.3s ease-in;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
}
.movies .title .detail svg:hover {
  color: rgb(116, 2, 2);
  cursor: pointer;
}
.movies .card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
  gap: 40px;
}
.movies .card-inner {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  height: 0px;
  transition: height 0.5s ease-in;
  position: relative;
}
.movies .card-outer:hover .card-inner {
  height: 100%;
}
.movies .card-outer:hover .card-inner a {
  display: block;
}
.card-inner a {
  color: white;
  bottom: 30px;
  left: 10px;
  font-weight: 600;
  font-size: 20px;
  position: absolute;
  display: none;
}

.movies .card-outer {
  height: 300px;
  border-radius: 10px;
  background-image: url("../images/small-dune.jpeg");
  background-size: cover;
}
.movies .card-outer:nth-child(2) {
  background-image: url("../images/small-wonka.jpg");
}
.movies .card-outer:nth-child(3) {
  background-image: url("../images/small-damsel.jpeg");
}
.movies .card-outer:nth-child(4) {
  background-image: url("../images/small-damsel.jpeg");
}
.movies .card-outer:nth-child(5) {
  background-image: url("../images/small-poor.jpg");
}

.slick-list {
  overflow: visible !important;
  overflow-x: hidden !important;
}
.slick-slide {
  height: auto !important;
  transition: all 0.5s ease-in-out;
  transform: scale(0.8);
}

.img.slick-center {
  transform: scale(1);
}

.search-outer {
  padding: 0 70px;
  color: white;
  min-height: calc(100vh - 50px - 250px);
}

.search-container {
  display: flex;
  align-items: top;
  border-radius: 10px;
  height: 220px;
  border: 1px solid #262626;
  color: white;
  gap: 30px;
}
.search-container .detail {
  padding: 40px 10px;
}
.search-container .title {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  color: white;
  text-decoration: none;
}
.search-container .desc {
  color: #ccc;
  margin-top: 20px;
  overflow: hidden;
  width: inherit;
  max-height: 30px;
  /* text-overflow: ellipsis;
  white-space: nowrap; */
}
.search-container img {
  border-radius: 10px 0 0 10px;
}
.search-container span {
  font-size: 11px;
  color: #ccc;
}
.search-container .title:hover {
  text-decoration: underline;
}
.loader-container {
  height: 100vh;
  width: 100vw;
  display: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader-container img {
  margin: auto;
  width: 20vw;
  height: auto;
}
.search-outer .top-title {
  font-size: 24px;
}
.search-outer .not-found {
  font-size: 20px;
}

.login-outer {
  background-image: url("../images/poster-backgound.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.login-container {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 30px 60px;
  width: 350px;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
}

.login-card .title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
}
.login-card label {
  color: rgba(255, 255, 255, 0.7);
}
.login-card input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
  margin-top: 5px;
  color: white;
  padding: 0 10px;
  font-size: 16px;
}
.login-card button {
  background-color: #ff0000;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  border: none;
}
.login-card .forgot {
  font-size: 14px;
  margin-top: 10px;
  color: #0071eb;
}
.login-card .new {
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.7);
}

.login-card .new a {
  color: white;
}

.login-card button:hover {
  cursor: pointer;
  background-color: rgb(178, 0, 0);
}

.trailer-outer {
  position: fixed;
  display: none;
  height: 100%;
  top: 0px;
  width: 100%;
  z-index: 1100;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}
.trailer-outer button.cancel {
  height: 50px;
  width: 50px;
  color: white;
  right: 30px;
  top: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  padding: 10px;
  position: absolute;
}

.trailer-outer button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.search-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
