<html lang="en">
  <head>
    <title>WMDB</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/layout.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
      const nowPlaying = <%- JSON.stringify(nowPlaying)  %>;
      const genres = <%- JSON.stringify(genres) %>;
      const recommend =  <%- JSON.stringify(recommend) %>;
      console.log('recommend' ,recommend)

      $(document).ready(function () {
        // transformSlide();
        $(".center").slick({
          centerMode: true,
          centerPadding: "10px",
          slidesToShow: 5,
          responsive: [
            {
              breakpoint: 500,
              settings: {
                arrows: false,
                centerMode: true,
                centerPadding: "20px",
                slidesToShow: 3,
              },
            },
            {
              breakpoint: 480,
              settings: {
                arrows: false,
                centerMode: true,
                centerPadding: "20px",
                slidesToShow: 1,
              },
            },
          ],
        });
        $(".slick-next").html(
          ' <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">' +
            '<path stroke-linecap="round" stroke-linejoin="round" d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />' +
            " </svg>"
        );
        $(".slick-prev").html(
          ' <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">' +
            '<path stroke-linecap="round" stroke-linejoin="round" d="m11.25 9-3 3m0 0 3 3m-3-3h7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />' +
            " </svg>"
        );
        $('.top-container').css({'background-image':'url(https://image.tmdb.org/t/p/original/'+ nowPlaying[0].backdrop_path+')'});
        $('.top-content .title').html(nowPlaying[0].original_title);
        $('.top-content .captions label:first-child').html(nowPlaying[0].release_date.split('-')[0])
        $('.top-content .desc span').html(nowPlaying[0].overview);

        let strGenre = '';
        for(let g of nowPlaying[0].genre_ids){
          if(genres[g] != undefined) strGenre += genres[g].name +', ';
        }
        $('.top-content .genre span').html(strGenre.substring(0, strGenre.length - 2));
        $(window).on("scroll", function () {
          if ($(window).scrollTop() > 50) {
            $(".header").addClass("active");
          } else {
            //remove the background property so it comes transparent again (defined in your css)
            $(".header").removeClass("active");
          }
        });
      });


      $(".center").on("beforeChange", function (event, slick, currentSlide, nextSlide) {
        console.log("change");
      });
      $(".center").on("edge", function (event, slick, direction) {
        console.log("edge was hit");
      });

      function changeSlide(){
        var nowPlaying = <%- JSON.stringify(nowPlaying)  %>;
          let index = $('.slick-slide.slick-center').attr('data-slick-index');
          if(index<0){
            index =  nowPlaying.length+index;
          }
          $('.top-container').css({'background-image':'url(https://image.tmdb.org/t/p/original/'+ nowPlaying[index].backdrop_path+')'});
          $('.top-content .title').html(nowPlaying[index].original_title);
          $('.top-content .captions label:first-child').html(nowPlaying[index].release_date.split('-')[0])
          $('.top-content .desc span').html(nowPlaying[index].overview);


        let strGenre = '';
        for(let g of nowPlaying[0].genre_ids){
          if(genres[g] != undefined) strGenre += genres[g].name +', ';
        }
        $('.top-content .genre span').html(strGenre.substring(0, strGenre.length - 2));

      }
      setTimeout(() => {
        $("button.slick-next.slick-arrow").click(() => {
          changeSlide()
        });
        $("button.slick-prev.slick-arrow").click(() => {
          changeSlide()
        });
      }, 1000);
    </script>
  </head>
  <body>
    <%- include('header.html'); %>
    <div class="home">
      <div class="top-container">
        <div class="outer">
          <div class="top-content">
            <div>
              <div class="title">Damsel</div>
              <div class="captions">
                <label>2022</label>
                <label>English</label>
              </div>
            </div>
            <div>
              <div class="genre"><label>Genre:</label><span>Action, Fantasy, Superhereos</span></div>
              <div class="desc">
                <label>Contents:</label>
                <span>A young woman's marriage to a charming prince turns into a fierce fight for survival when she's offered up as a sacrifice to a fire-breathing dragon.</span>
              </div>
            </div>
          </div>
          <div style="width: 50%; height: 100%; display: flex; align-items: center">
            <button class="playTrailer">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="slider-outer">
        <div class="slider center">
          <% for(let p of nowPlaying){%>
          <div class="img"><img loading="lazy" src="https://image.tmdb.org/t/p/original/<%=p.poster_path %>" alt="popular" /></div>
          <% } %>
        </div>
      </div>
      <div class="movies">
        <div class="inner">
          <p class="title">Popular</p>
          <div class="card-container">
            <% for(let p of popular.slice(0,6)){%>
            <div class="card-outer rec" style="background-image: url(https://image.tmdb.org/t/p/original/<%=p.poster_path %>)">
              <div class="card-inner">
                <a><%=p.original_title %></a>
              </div>
            </div>
            <% } %>
          </div>
        </div>
        <div class="inner">
          <p class="title">Recommendations</p>
          <div class="card-container">
            <% for(let r of recommend.slice(0,6)){%>
            <div class="card-outer rec" style="background-image: url(https://image.tmdb.org/t/p/original/<%=r.poster_path %>)">
              <div class="card-inner">
                <a href="/movieDetails/<%= r.id %>"><%=r.original_title %></a>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <%- include('footer.html'); %>
  </body>
</html>
