<html>
    <head>
        <title>WMDB</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <div class="login-outer">
            <div class="login-container">
                <form class="login-card">
                    <p class="title">Sign in</p>
                    <label>Email address:</label>
                    <br/>
                    <input type="text"/>
                    <br/>
                    <label>Password:</label>
                    <br/>
                    <input type="text"/>
                    <br/>
                    <button type="submit">Sign in</button>
                    <a class ="forgot" href="/forgot">Forgot password</a>
                    <div class="new">New for WMDB? <a href="/signup">Sign up now</a></div>
                </div>
        </div>
    </body>
</html>