<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/layout.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/movielist.css" />
    <title>Movie List</title>
</head>
<body>
    <%- include('header.html'); %>
    <div>Home</div>
    <form id="id_form" method="post" action="/movielist">
        <input type="hidden" id="hid_menu" name="hid_menu" value="<%= action %>">
        <input type="hidden" id="hid_genID" name="hid_genID" value=0>
      <header class="navbar">
        <ul>
          <li class="menu-item popular">Popular</li>
          <li class="menu-item now-playing">Now Playing</li>    
          <li class="menu-item upcoming">Upcoming</li>
          <li class="menu-item top-rated">Top Rated</li>
          <li class="menu-item geners">Geners
            <div class="genres-dropdown">
              <% geners.forEach(gen => { %>
              <label class="lbl_gen" value="<%= gen.id %>"><%= gen.name %></label>
              <% }) %>
            </div>
          </li>
        </ul>
      </header>
      
      <div class="content-wrapper">
      <main class="movies-container">
        <%  if( movies1.length > 0) { %>
        <div class="movies-slider">
          <h3 style="margin-top: 0px;color: #dba205;"><%= msg %></h3>
          <div class="slider-prev" onclick="moveSlide(-5, 'movies1')">&#10094;</div>
          <div class="slider-inner movies1-inner">
            <%movies1.forEach(movie => { %>
              <div class="movie-poster">
                <img class="movie-poster-img" onclick="goDetail('<%=movie.id%>')" src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>" alt="<%= movie.title %>">
                <div class="movie-info">
                  <h3><%= movie.title %></h3>
                  <label>Rating: <%= (movie.vote_average).toFixed(1) %></label><br>
                  <label>Release Date: <%= movie.release_date %></label>
                </div>
              </div>
            <% }) %>
          </div>
          <div class="slider-next" onclick="moveSlide(5, 'movies1')">&#10095;</div>
        </div>
        <% }else{ %>
          <p style="margin-top: 0px;">No items were found that match your query.</p> 
        <% } %>
      
        <%  if( movies2.length > 0) { %>
          <div class="movies-slider">
            <h3 style="margin-top: 0px;color: #dba205;"><%= msg %></h3>
            <div class="slider-prev" onclick="moveSlide(-5, 'movies2')">&#10094;</div>
            <div class="slider-inner movies2-inner">
              <%movies2.forEach(movie => { %>
                <div class="movie-poster">
                  <img class="movie-poster-img" onclick="goDetail('<%=movie.id%>')"  src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>" alt="<%= movie.title %>">
                  <div class="movie-info">
                    <h3><%= movie.title %></h3>
                    <label>Rating: <%= (movie.vote_average).toFixed(1) %></label><br>
                    <label>Release Date: <%= movie.release_date %></label>
                  </div>
                </div>
              <% }) %>
            </div>
            <div class="slider-next" onclick="moveSlide(5, 'movies2')">&#10095;</div>
          </div>
          <% } %>
      
          <%  if( movies3.length > 0) { %>
            <div class="movies-slider">
              <h3 style="margin-top: 0px;color: #dba205;"><%= msg %></h3>
              <div class="slider-prev" onclick="moveSlide(-5, 'movies3')">&#10094;</div>
              <div class="slider-inner movies3-inner">
                <%movies3.forEach(movie => { %>
                  <div class="movie-poster">
                    <img class="movie-poster-img" onclick="goDetail('<%=movie.id%>')"  src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>" alt="<%= movie.title %>">
                    <div class="movie-info">
                      <h3><%= movie.title %></h3>
                      <label>Rating: <%= (movie.vote_average).toFixed(1) %></label><br>
                      <label>Release Date: <%= movie.release_date %></label>
                    </div>
                  </div>
                <% }) %>
              </div>
              <div class="slider-next" onclick="moveSlide(5, 'movies3')">&#10095;</div>
            </div>
            <% } %>
      
            <%  if( movies4.length > 0) { %>
              <div class="movies-slider">
                <h3 style="margin-top: 0px;color: #dba205;"><%= msg %></h3>
                <div class="slider-prev" onclick="moveSlide(-5, 'movies4')">&#10094;</div>
                <div class="slider-inner movies4-inner">
                  <%movies4.forEach(movie => { %>
                    <div class="movie-poster">
                      <img class="movie-poster-img" onclick="goDetail('<%=movie.id%>')" src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>" alt="<%= movie.title %>">
                      <div class="movie-info">
                        <h3><%= movie.title %></h3>
                        <label>Rating: <%= (movie.vote_average).toFixed(1) %></label><br>
                        <label>Release Date: <%= movie.release_date %></label>
                      </div>
                    </div>
                  <% }) %>
                </div>
                <div class="slider-next" onclick="moveSlide(5, 'movies4')">&#10095;</div>
              </div>
              <% } %>
      
              <%  if( movies5.length > 0) { %>
                <div class="movies-slider">
                  <h3 style="margin-top: 0px;color: #dba205;"><%= msg %></h3>
                  <div class="slider-prev" onclick="moveSlide(-5, 'movies5')">&#10094;</div>
                  <div class="slider-inner movies5-inner">
                    <%movies5.forEach(movie => { %>
                      <div class="movie-poster">
                        <img class="movie-poster-img" onclick="goDetail('<%=movie.id%>')" src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>" alt="<%= movie.title %>">
                        <div class="movie-info">
                          <h3><%= movie.title %></h3>                          
                          <p>Rating: <%= (movie.vote_average).toFixed(1) %></p>
                          <p>Release Date: <%= movie.release_date %></p>
                        </div>
                      </div>
                    <% }) %>
                  </div>
                  <div class="slider-next" onclick="moveSlide(5, 'movies5')">&#10095;</div>
                </div>
                <% } %>
        </main>
      </div>
      </form>
    <%- include('footer.html'); %>

<script>

        function moveSlide(direction, sliderType) {
        let sliderInnerSelector = '.slider-inner';
        if (sliderType === 'movies1') {
          sliderInnerSelector = '.movies1-inner';
        }else if(sliderType === 'movies2'){
          sliderInnerSelector = '.movies2-inner';
        }else if(sliderType === 'movies3'){
          sliderInnerSelector = '.movies3-inner';
        }else if(sliderType === 'movies4'){
          sliderInnerSelector = '.movies4-inner';
        }else{
          sliderInnerSelector = '.movies5-inner';
        }
      
        const sliderInner = document.querySelector(sliderInnerSelector);
        const slides = sliderInner.querySelectorAll('.movie-poster');
        const slidesWidth = slides[0].offsetWidth + 10; // Assuming 10px is the margin-right
        let maxIndex = slides.length - 5; // Adjusting to ensure we don't slide past the end
      
        if (!window["currentIndex_" + sliderType]) window["currentIndex_" + sliderType] = 0;
      
        window["currentIndex_" + sliderType] += direction;
      
        if (window["currentIndex_" + sliderType] < 0) {
          window["currentIndex_" + sliderType] = 0; // Prevent sliding beyond the first poster
        } else if (window["currentIndex_" + sliderType] > maxIndex) {
          window["currentIndex_" + sliderType] = maxIndex; // Prevent sliding beyond the last poster
        }
      
        const moveAmount = -(slidesWidth * window["currentIndex_" + sliderType]);
        sliderInner.style.transform = `translateX(${moveAmount}px)`;
      }
      
      // menu click even
      $(document).ready(function() {
        // Now Playing click event
        $('.now-playing').click(function() {
          $('#hid_menu').val("now_play");
          $('#id_form').submit();
        });
      
        // Popular click event
        $('.popular').click(function() {
          $('#hid_menu').val("popular");
          $('#id_form').submit();
        });
      
        // Upcoming click event
        $('.upcoming').click(function() {
          $('#hid_menu').val("upcoming");
          $('#id_form').submit();
        });
      
        // Top Rated click event
        $('.top-rated').click(function() {
          $('#hid_menu').val("top-rated");
          $('#id_form').submit();
        });
      
        // Genres dropdown click event
        $('.geners').click(function() {
          $('.genres-dropdown').toggle('grid'); // This toggles the display of the dropdown
        });
      });
      
      $('.genres-dropdown').on('click', '.lbl_gen', function() {
        // To get a custom attribute like 'value' from the label:
        $('#hid_genID').val($(this).attr('value'));
        $('#id_form').submit();
      });

      function goDetail(movie_id){
        alert(movie_id);
        const url = '/pages/movie/${movieId}';
        window.location.href = url;
      }
      
      </script>
  </body>
</html>