<html lang="en">
  <head>
    <title>Sample</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="css/layout.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/theatres.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="js/theatres.js"></script>
    <script>
        let showTimes = [];
        let selectedDate;
        $(document).ready(function () {            
            $.ajax({
                url: '/getShowTimes', // Server-side endpoint to fetch showTimes
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    let html = "";
                    if (!response) {
                        html = 'Sorry we could not find any showtimes for selected date';
                    } else {
                        //showTimes = response.showtimes;
                        console.log(response, JSON.stringify(response));
                        for (let ele of response) {
                            console.log(JSON.stringify(ele), createPlayTimeDiv(ele, selectedDate));
                            html += createPlayTimeDiv(ele);   
                        }
                    }
                    $('#theatresList').html(html);
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching showtimes:', error);
                    $('#theatresList').html('Error fetching showtimes');
                }
            });
        });


        function changeSelectedDate(self, dayOfMonth, month) {
            console.log('datechange: ' + $('div[class="date flex-column date-selected"]'));
            $('div[class="date flex-column date-selected"]').removeClass('date-selected');            
            $(self).addClass('date-selected');
            selectedDate = month + " " + dayOfMonth;
        }
      
    </script>
  </head>
  <body>
    <%- include('header.html'); %>
    <div id="theatreContent" class="flex-column gap_10">
        <div id="theatresHeader" class="padding_20">
            <label for="">Movie Times + Tickets </label>
            <label for="location" id="selectedLocation">NEAR <%=location%></label>
        </div>
        <div id="changeLocation" class="padding_20">
                Enter city, state or zipcode <button onclick="showLocationChange()">Change</button>
            <div id="locationChangeDiv" style="visibility: hidden;">
                <div onclick="closeLocationChangeDiv()" class="closeButton">X</div>
                <form method="post" action="/changeLocation" id="changeLocationForm">
                    <input type="text" placeholder="Enter City, State or Zipcode" ondragenter="changeLocation()" name="newLocation">
                    <button onclick="setToCurrentLocation()">Current Locaiton</button>
                </form>
            </div>
        </div>
        <div id="dateList">
            <%for (let d of dates) { %>
                <div class="date flex-column" onclick="changeSelectedDate(this, '<%=d.dayOfMonth%>', '<%=d.month%>')">
                    <div><%=d.dayOfWeek%></div>
                    <div><%=d.month%></div>
                    <div><%=d.dayOfMonth%></div>
                </div>
            <%}%>
        </div>
        <div id="theatresList">
         
        </div>
    </div>
    <%- include('footer.html'); %>
  </body>
</html>
